.container {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url('/image/DEMOgame_bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  }
  .header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    background-image: url('/image/Demo888_header01_03.png');
    padding: 20px;
    width: 100%;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .logoContainer img {
    width: 10vh; 
    height: auto; 
    margin-right: 20px;
  }
  
  .navLink {
    margin-right: 10px;
    color: #ffffff;
    font-size: 1.5vw;
    text-decoration: none;
    padding: auto 10vw;
  }
  
  .authLink {
    margin-right:auto 40px;
    margin-bottom: 30px;
    padding: 10px;
  }
  
  .bannerTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  }
  
  .bannerTopImage {
  flex: 1;
  margin-right: 10px;
  }
  
  .main {
  padding: 20px 0;
  }
  
  .section {
  margin-bottom: 20px;
  
  }
  
  .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: auto 10vw;
  }
  
  .card {
  padding: 5px;
  text-align: center;
  
  }
  
  .footer {
  height: 500px;
  background-color: #000000;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  }
  
  .footerContent {
  display: flex;
  justify-content:space-between;
  align-items: center;
  }
  
  .footerLogo {
  margin-right: auto 10px ;
  margin-top: 200px;
  
  
  }
  .footerLogomenu {
  margin-bottom: 200px;
  justify-content: center;
  }
